<!--Navbar-->
<nav class="navbar navbar-expand-lg businessHeader">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><h2 class=" text-center fade-in-title text-light title"> {{title}}</h2></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link btn text-light navButton" routerLink="/home" ariaCurrentWhenActive="page">H o m e</a></li>
                <li class="nav-item"><label class="nav-link text-light"><strong>|</strong></label></li>
                <li class="nav-item"><a class="nav-link btn text-light navButton" routerLink="/about"  ariaCurrentWhenActive="page">A b o u t</a></li>
                <li class="nav-item"><label class="nav-link text-light"><strong>|</strong></label></li>
                <li class="nav-item"><a class="nav-link btn text-light navButton" routerLink="/contact" ariaCurrentWhenActive="page">C o n t a c t</a></li>
                <li class="nav-item"><label class="nav-link text-light"><strong>|</strong></label></li>
                <li class="nav-item"><a class="nav-link btn text-light navButton" routerLink="/for-sale" ariaCurrentWhenActive="page">P r o d u c t s</a></li>
                <li class="nav-item"><label class="nav-link text-light"></label></li>
            </ul>
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" class="dropdown-item">Our Work</a></li>
            <li><a href="#" class="dropdown-item">Testimonials</a></li>
            <li><a href="#" class="dropdown-item">Estimates</a></li>
        </ul>
    </div>
</nav>